---
import PageLayout from "@/layouts/Base";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";

const meta = {
	title: "Oops! You found a missing page!",
	description: "Oops! It looks like this page is lost in space!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | Oops something went wrong</h1>
	<LottieAnimation
		src="https://assets7.lottiefiles.com/packages/lf20_kcsr6fcp.json"
		autoplay="visible"
	/>
	<p class="mb-8">Sorry we couldn't find that page</p>
</PageLayout>
