---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "About me!",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi I'm Max. I live in San Francisco and I'm currently a bioengineer/software engineer that
			works on biotechnology projects.
		</p>
	</div>
</PageLayout>
