---
import PageLayout from "@/layouts/Base";
import ContactForm from "src/components/ContactForm.svelte";

const meta = {
	title: "Contact",
	description: "Contact me!",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Contact</h1>
		<p>Want to hire me to work on your project or just say hi? Reach out to me below!</p>
		<ContactForm />
	</div>
</PageLayout>
