---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";
import Projects from "@/components/Projects";
import Tools from "@/components/Tools";
import { PUBLICATIONS } from "@/data/constants";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Max Campbell</h1>
		<p class="mb-4">
			Hi there, I'm Max. I live in San Francisco. I'm a bioengineer, game designer, software engineer, and
			composer that primarily works on biotechnology projects.
		</p>
		<SocialList />
	</section>
	<!-- <section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Publications</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				PUBLICATIONS.map((p) => (
					<a href={p[1]}  class="cactus-link inline-block">
						<p>{p[0]}</p>
					</a>
				))
			}
		</ul>
	</section> -->
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.flatMap((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<Projects />
	<!-- <Tools /> -->
</PageLayout>
