<section class="mt-16" >
	<h2 class="title mb-4 text-xl">Projects</h2>
	<ul class="space-y-4 sm:space-y-2">
    <li>
      <a
        href="https://github.com/Hearth-Industries/Hearth"
        target="_blank"
        rel="noopener noreferrer"
        class="cactus-link inline-block"
      >Hearth
      </a>:
      <p class="inline-block sm:mt-2">
        Hearth is an ultra-high-performance distributed audio streaming and processing server written in Rust that is 30X faster than Lavalink. Allowing Discord music bots to save thousands on server costs. It comes with its own cross-platform client library called Charcoal to make using it incredibly easy.
      </p>
    </li>
		<li>
			<a
				href="https://maxall41.itch.io/perplexed-cassete"
				target="_blank"
				rel="noopener noreferrer"
				class="cactus-link inline-block"
				>Games
			</a>:
			<p class="inline-block sm:mt-2">
				I occasionally participate in game jams where you create a game around a theme in a limited amount of time (usually a few days). You can look at some of the games I have made <a class="cactus-link" href="https://maxall41.itch.io/">here</a>
			</p>
		</li>
		<li>
			<a target="_blank" rel="noopener noreferrer" class="cactus-link inline-block">Blurb</a>:
			<p class="inline-block sm:mt-2">
				Blurb is a CMS solution that integrates with Notion for better ease of use within companies.
			</p>
		</li>
		<li>
			<a target="_blank" rel="noopener noreferrer" class="cactus-link inline-block">Prometheus</a>:
			<p class="inline-block sm:mt-2">
				Prometheus is a self landing rocket that can take off and land itself autonomously like the
				SpaceX rockets.
			</p>
		</li>
		<li>
			<a
				href="https://github.com/maxall41/Alcubierre"
				target="_blank"
				rel="noopener noreferrer"
				class="cactus-link inline-block"
				>Alcubierre
			</a>:
			<p class="inline-block sm:mt-2">Alcubierre is the second game engine I have written. Alcubierre is a game engine designed to make it as fast as possible to create games for game jams. It is written in Rust and uses wgpu-rs under the hood to support a wide range of devices.</p>
		</li>
		<li>
			<a
				href="https://unicode.maxc.codes"
				target="_blank"
				rel="noopener noreferrer"
				class="cactus-link inline-block"
				>Unicode version checker
			</a>:
			<p class="inline-block sm:mt-2">
				This is a small tool you can use to check what Unicode version your device supports.
			</p>
		</li>
	</ul>
</section>
