<section class="mt-16" >
	<h2 class="title mb-4 text-xl">Projects</h2>
	<ul class="space-y-4 sm:space-y-2">
	<li>
		<a
			href="https://github.com/maxall41/DPXRust"
			target="_blank"
			rel="noopener noreferrer"
			class="cactus-link inline-block"
		>DPXRust
		</a>:
		<p class="inline-block sm:mt-2">
			DPXRust is a rewrite of the DPX algorithm in Rust. DPX is an algorithm for computing a score that indicates to what degree an atom is buried in a protein structure by finding the distance between every atom and the nearest atom with an ASA/SASA above a threshold.
		</p>
	</li>
	<li>
		<a
			href="https://github.com/maxall41/RustSASA"
			target="_blank"
			rel="noopener noreferrer"
			class="cactus-link inline-block"
		>RustSASA
		</a>:
		<p class="inline-block sm:mt-2">
			RustSASA is a Rust library for computing the absolute solvent accessible surface area (ASA/SASA) of each atom in a given protein structure using the Shrake-Rupley algorithm.
		</p>
	</li>
    <li>
      <a
        href="https://github.com/Hearth-Industries/Hearth"
        target="_blank"
        rel="noopener noreferrer"
        class="cactus-link inline-block"
      >Hearth
      </a>:
      <p class="inline-block sm:mt-2">
        Hearth is an ultra-high-performance distributed audio streaming and processing server written in Rust that is 30X faster than Lavalink. Allowing Discord music bots to save thousands on server costs. It comes with its own cross-platform client library called Charcoal to make using it incredibly easy.
      </p>
    </li>
		
		<li>
			<a target="_blank" rel="noopener noreferrer" class="cactus-link inline-block">Prometheus</a>:
			<p class="inline-block sm:mt-2">
				Prometheus is a self landing rocket that can take off and land itself autonomously.
			</p>
		</li>
		<li>
			<a
				href="https://unicode.maxc.codes"
				target="_blank"
				rel="noopener noreferrer"
				class="cactus-link inline-block"
				>Unicode version checker
			</a>:
			<p class="inline-block sm:mt-2">
				This is a small tool you can use to check what Unicode version your device supports.
			</p>
		</li>
		<li>
			<a
				href="https://maxall41.itch.io/perplexed-cassete"
				target="_blank"
				rel="noopener noreferrer"
				class="cactus-link inline-block"
				>Games
			</a>:
			<p class="inline-block sm:mt-2">
				I occasionally participate in game jams where you create a game around a theme in a limited amount of time (usually a few days). You can look at some of the games I have made <a class="cactus-link" href="https://maxall41.itch.io/">here</a>
			</p>
		</li>
	</ul>
</section>
