<section class="mt-16" >
	<h2 class="title mb-4 text-xl">Projects</h2>
	<ul class="space-y-4 sm:space-y-2">
    <li>
      <a
        href="https://github.com/Hearth-Industries/Hearth"
        target="_blank"
        rel="noopener noreferrer"
        class="cactus-link inline-block"
      >Hearth
      </a>:
      <p class="inline-block sm:mt-2">
        Hearth is an ultra-high-performance audio streaming server written in Rust that is 30X faster than Lavalink. Allowing Discord bots to save thousands on infrastructure. It comes with its own cross-platform client library called Charcoal to make using it incredibly easy!
      </p>
    </li>
		<li>
			<a
				href="https://maxall41.itch.io/perplexed-cassete"
				target="_blank"
				rel="noopener noreferrer"
				class="cactus-link inline-block"
				>Perplexed Cassette
			</a>:
			<p class="inline-block sm:mt-2">
				Perplexed Cassette is a game made for A Jam About Time game jam. Perplexed Cassette is a
				game about time manipulation and collecting things. Perplexed Cassette even has multiple
				endings.
			</p>
		</li>
		<li>
			<a target="_blank" rel="noopener noreferrer" class="cactus-link inline-block">Blurb</a>:
			<p class="inline-block sm:mt-2">
				Blurb is a CMS solution that integrates with Notion for better ease of use within companies.
			</p>
		</li>
		<li>
			<a target="_blank" rel="noopener noreferrer" class="cactus-link inline-block">Prometheus</a>:
			<p class="inline-block sm:mt-2">
				Prometheus is a self landing rocket that can take off and land itself autonomously like the
				SpaceX rockets.
			</p>
		</li>
		<li>
			<a
				href="https://github.com/maxall41/Alcubierre"
				target="_blank"
				rel="noopener noreferrer"
				class="cactus-link inline-block"
				>Alcubierre
			</a>:
			<p class="inline-block sm:mt-2">Alcubierre is the second game engine I have written. Alcubierre is a game engine designed to make it as fast as possible to create games for game jams. It is written in Rust and uses wgpu-rs under the hood to support a wide range of devices.</p>
		</li>
		<li>
			<a
				href="https://maxall41.itch.io/rage-golf"
				target="_blank"
				rel="noopener noreferrer"
				class="cactus-link inline-block"
				>Rage Golf
			</a>:
			<p class="inline-block sm:mt-2">
				Rage Golf was a game made in 3 days for Mini Jam 86: SPORTS. Rage Golf is a rage game about
				golf where if you stop moving you explode.
			</p>
		</li>
		<li>
			<a
				href="https://haywirejo.itch.io/chronoteller"
				target="_blank"
				rel="noopener noreferrer"
				class="cactus-link inline-block"
				>ChronoTeller
			</a>:
			<p class="inline-block sm:mt-2">
				Escape the Labyrinth! Draw cards and use them to make your move across the board and defeat
				enemies. Utilize time manipulating cards to get the jump on your foes in this strategic card
				battler.
			</p>
		</li>
		<li>
			<a
				href="https://unicode.maxc.codes"
				target="_blank"
				rel="noopener noreferrer"
				class="cactus-link inline-block"
				>Unicode version checker
			</a>:
			<p class="inline-block sm:mt-2">
				This is a small tool you can use to check what Unicode version your device supports.
			</p>
		</li>
	</ul>
</section>
