<section class="mt-16">
	<h2 class="title mb-4 text-xl">Other Things I've Done</h2>
	<ul class="space-y-6">
		<li>
			<h2 class="inline-block">Discord Bots</h2>:
			<p class="inline-block sm:mt-2">
				I have created several discord bots on a freelancing basis using Rust and Serenity to create
				high uptime high performance discord bots
			</p>
		</li>
		<li>
			<h2 class="inline-block">Embedded Solutions</h2>:
			<p class="inline-block sm:mt-2">
				I've worked on several embedded solutions for various different projects using Rust and
				various different HALs.
			</p>
		</li>
	</ul>
</section>
